@page
@model App.Pages.Posts.CreateModel


@{
    ViewData["Title"] = "Create";

    var userId = userManager.GetUserId(User);
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <input type="hidden" asp-for="inputPost.UserId" value="@userId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="inputPost.Title" class="control-label"></label>
                <input asp-for="inputPost.Title" class="form-control" />
                <span asp-validation-for="inputPost.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inputPost.Content" class="control-label"></label>
                <input asp-for="inputPost.Content" class="form-control" />
                <span asp-validation-for="inputPost.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
